body { background: #fff; }
/*.container { width: 850px; }*/

.product-listing li { background: #FFF; height: 140px; }
.product-listing li a.info { background: #FFF; }

/* div#footer { display: none; }*/